# IN3400 ADMS
Take Home Assignment

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [2]:
start_credit_dataset = pd.read_csv('creditcard.csv')

In [3]:
def function(data):
    without_duplicates = data.drop_duplicates()
    missing_value=without_duplicates
    without_typechange = missing_value.fillna(missing_value.mode().iloc[0])
    without_typechange['Time'] = without_typechange['Time'].round(0).astype('int')
    dataset=without_typechange
    return dataset

In [4]:
credit_card_dataset = function(start_credit_dataset)

In [5]:
print(credit_card_dataset)

          Time         V1         V2        V3        V4        V5        V6  \
0            0  -1.359807  -0.072781  2.536347  1.378155 -0.338321  0.462388
1            0   1.191857   0.266151  0.166480  0.448154  0.060018 -0.082361
2            1  -1.358354  -1.340163  1.773209  0.379780 -0.503198  1.800499
3            1  -0.966272  -0.185226  1.792993 -0.863291 -0.010309  1.247203
4            2  -1.158233   0.877737  1.548718  0.403034 -0.407193  0.095921
...        ...        ...        ...       ...       ...       ...       ...
284802  172786 -11.881118  10.071785 -9.834783 -2.066656 -5.364473 -2.606837
284803  172787  -0.732789  -0.055080  2.035030 -0.738589  0.868229  1.058415
284804  172788   1.919565  -0.301254 -3.249640 -0.557828  2.630515  3.031260
284805  172788  -0.240440   0.530483  0.702510  0.689799 -0.377961  0.623708
284806  172792  -0.533413  -0.189733  0.703337 -0.506271 -0.012546 -0.649617

              V7        V8        V9  ...       V21       V22       V23  \
0       0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1      -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2       0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3       0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4       0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...          ...       ...       ...  ...       ...       ...       ...
284802 -4.918215  7.305334  1.914428  ...  0.213454  0.111864  1.014480
284803  0.024330  0.294869  0.584800  ...  0.214205  0.924384  0.012463
284804 -0.296827  0.708417  0.432454  ...  0.232045  0.578229 -0.037501
284805 -0.686180  0.679145  0.392087  ...  0.265245  0.800049 -0.163298
284806  1.577006 -0.414650  0.486180  ...  0.261057  0.643078  0.376777

             V24       V25       V26       V27       V28  Amount  Class
0       0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62      0
1      -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69      0
2      -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66      0
3      -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50      0
4       0.141267 -0.206010  0.502292  0.219422  0.215153   69.99      0
...          ...       ...       ...       ...       ...     ...    ...
284802 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77      0
284803 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79      0
284804  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88      0
284805  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00      0
284806  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00      0

[283726 rows x 31 columns]

In [6]:
credit_card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283726 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    283726 non-null  int64
 1   V1      283726 non-null  float64
 2   V2      283726 non-null  float64
 3   V3      283726 non-null  float64
 4   V4      283726 non-null  float64
 5   V5      283726 non-null  float64
 6   V6      283726 non-null  float64
 7   V7      283726 non-null  float64
 8   V8      283726 non-null  float64
 9   V9      283726 non-null  float64
 10  V10     283726 non-null  float64
 11  V11     283726 non-null  float64
 12  V12     283726 non-null  float64
 13  V13     283726 non-null  float64
 14  V14     283726 non-null  float64
 15  V15     283726 non-null  float64
 16  V16     283726 non-null  float64
 17  V17     283726 non-null  float64
 18  V18     283726 non-null  float64
 19  V19     283726 non-null  float64
 20  V20     283726 non-null  float64
 21  V21     283726 non-null  float64
 22  V22     283726 non-null  float64
 23  V23     283726 non-null  float64
 24  V24     283726 non-null  float64
 25  V25     283726 non-null  float64
 26  V26     283726 non-null  float64
 27  V27     283726 non-null  float64
 28  V28     283726 non-null  float64
 29  Amount  283726 non-null  float64
 30  Class   283726 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 69.3 MB

In [7]:
print(credit_card_dataset[['Amount']])

        Amount
0       149.62
1         2.69
2       378.66
3       123.50
4        69.99
...        ...
284802    0.77
284803   24.79
284804   67.88
284805   10.00
284806  217.00

[283726 rows x 1 columns]

In [8]:
scaler = StandardScaler()

In [9]:
credit_card_dataset[['Amount']] = scaler.fit_transform(credit_card_dataset[['Amount']])

In [10]:
print(credit_card_dataset[['Amount']])

          Amount
0       0.244200
1      -0.342584
2       1.158900
3       0.139886
4      -0.073813
...          ...
284802 -0.350252
284803 -0.254325
284804 -0.082239
284805 -0.313391
284806  0.513290

[283726 rows x 1 columns]

In [11]:
credit_card_dataset['Class'].value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [12]:
print(credit_card_dataset)

          Time         V1         V2        V3        V4        V5        V6  \
0            0  -1.359807  -0.072781  2.536347  1.378155 -0.338321  0.462388
1            0   1.191857   0.266151  0.166480  0.448154  0.060018 -0.082361
2            1  -1.358354  -1.340163  1.773209  0.379780 -0.503198  1.800499
3            1  -0.966272  -0.185226  1.792993 -0.863291 -0.010309  1.247203
4            2  -1.158233   0.877737  1.548718  0.403034 -0.407193  0.095921
...        ...        ...        ...       ...       ...       ...       ...
284802  172786 -11.881118  10.071785 -9.834783 -2.066656 -5.364473 -2.606837
284803  172787  -0.732789  -0.055080  2.035030 -0.738589  0.868229  1.058415
284804  172788   1.919565  -0.301254 -3.249640 -0.557828  2.630515  3.031260
284805  172788  -0.240440   0.530483  0.702510  0.689799 -0.377961  0.623708
284806  172792  -0.533413  -0.189733  0.703337 -0.506271 -0.012546 -0.649617

              V7        V8        V9  ...       V21       V22       V23  \
0       0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1      -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2       0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3       0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4       0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...          ...       ...       ...  ...       ...       ...       ...
284802 -4.918215  7.305334  1.914428  ...  0.213454  0.111864  1.014480
284803  0.024330  0.294869  0.584800  ...  0.214205  0.924384  0.012463
284804 -0.296827  0.708417  0.432454  ...  0.232045  0.578229 -0.037501
284805 -0.686180  0.679145  0.392087  ...  0.265245  0.800049 -0.163298
284806  1.577006 -0.414650  0.486180  ...  0.261057  0.643078  0.376777

             V24       V25       V26       V27       V28    Amount  Class
0       0.066928  0.128539 -0.189115  0.133558 -0.021053  0.244200      0
1      -0.339846  0.167170  0.125895 -0.008983  0.014724 -0.342584      0
2      -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  1.158900      0
3      -1.175575  0.647376 -0.221929  0.062723  0.061458  0.139886      0
4       0.141267 -0.206010  0.502292  0.219422  0.215153 -0.073813      0
...          ...       ...       ...       ...       ...       ...    ...
284802 -0.509348  1.436807  0.250034  0.943651  0.823731 -0.350252      0
284803 -1.016226 -0.606624 -0.395255  0.068472 -0.053527 -0.254325      0
284804  0.640134  0.265745 -0.087371  0.004455 -0.026561 -0.082239      0
284805  0.123205 -0.569159  0.546668  0.108821  0.104533 -0.313391      0
284806  0.008797 -0.473649 -0.818267 -0.002415  0.013649  0.513290      0

[283726 rows x 31 columns]

In [13]:
legit = credit_card_dataset[credit_card_dataset.Class == 0]
fraud = credit_card_dataset[credit_card_dataset.Class == 1]

In [14]:
credit_card_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,-0.000236
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,0.141371

In [15]:
new_dataset = pd.concat([legit, fraud], axis=0)

In [16]:
new_dataset['Class'].value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [17]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,-0.000236
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,0.141371

In [18]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

Model Training

In [20]:
model = DecisionTreeClassifier()

In [21]:
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [22]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = metrics.accuracy_score(X_test_prediction, Y_test)

In [23]:
print('Accuracy = ', test_data_accuracy)

Accuracy =  0.9989602791386177